[mysqld]
character-set-server = utf8mb4
collation-server = utf8mb4_bin

default-time-zone = SYSTEM
log_timestamps = SYSTEM

default-authentication-plugin = mysql_native_password

# クエリキャッシュ最大サイズ(デフォルト1M)
query_cache_limit=1M

# クエリキャッシュで使用するメモリサイズ。
# 一般的なルールとして、FLUSH QUERY CACHE に長い時間がかかるようであれば大きすぎます。
query_cache_size=32M

# クエリキャッシュのタイプ
# (0:off, 1:ON SELECT SQL_NO_CACHE以外, 2:DEMAND SELECT SQL_CACHEのみ)
query_cache_type=1

[mysql]
default-character-set = utf8mb4

[client]
default-character-set = utf8mb4
